@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ropa Sans', sans-serif;
    max-width: 697px;
    margin: 0 auto;
}

/* --------------------------- MENU DE NAVEGAÇÃO ---------------------- */

nav {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 5px 5px rgb(206, 206, 206);
    justify-content:space-between;

}

.logo {
    margin-left: 20px;
}

.menu {
    margin-right: 20px;
}





/* ------------------------------------------------------------------ */


/* --------------------------- CONTEÚDO PRINCIPAL ------------------- */

.carrossel {
    max-width: 608px;
    display: flex;
    align-items: center;
    margin-left: 2.3vw;
    margin-top: 3%;

}

.casa-principal {
    width: 100%;
}

.sell-homes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.first-home, .second-home {
    background-color: #EEEEEE;
    max-width: 256px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 5%;
    height: 250px;
    font-size: 0.7em;
}

.casa-industrial-img, .casa-secundaria-img {
    width: 100%;
}

.value-1200, .value-2000 {
    margin-top: -7.5%;
    margin-left: 4%;
}

.btn-new, .btn-sale {
    margin-right: 5%;
    margin-top: 5%;
    align-self: flex-end;
    width: 60px;
    height: 22px;
    border-radius: 10px;
    border: none;
    font-size: 1.7em;
    color: rgb(255, 255, 255);
    background-color: #51D275;
}

.btn-sale {
    background-color: #DC9730;
}

.mussum-text, .mussum-text-two {
    margin-top: 3%;
    color: #555555;
    margin-left: 2%;
    

}

/* --------------------- YOUR STYLE ---------------------- */

.styles {
    display: flex;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-industrial, .container-modern, .container-classic {
    display: flex;
    margin-top: 10%;
    margin-left: 8%;
}

.style-industrial, .style-modern, .style-classic {
    width: 100%;
}



.style-industrial-img, .style-modern-img, .style-classic-img {
    position: absolute;
    opacity: 0.6;
}

.style-industrial-img:hover, .style-modern-img:hover, .style-classic-img:hover {
    opacity: 1.0;
}

.style-industrial-text, .style-modern-text, .style-classic-text {
    margin-top: 25px;
    margin-left: 250px;
    position: relative;
}

/* ------------------------------- FOOTER ---------------------------- */

footer {
    width: 100%;
    margin-top: 10%;
    max-width: 697px;
    height: 243px;
    background-color: #333333;
}

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.map, .social-medias {
    margin-top: 7%;
}

.link-social {
    margin-top: 5%;
}

.facebook, .whatsapp {
    margin-left: 10%;
}

@media (max-width: 680px) {

    .style-industrial, .style-modern, .style-classic {
        width: 50%;
    }
    

    .container-industrial, .container-modern, .container-classic {
        margin-left: 0;
    }
    
.style-industrial-img, .style-modern-img, .style-classic-img {
    position: absolute;
    opacity: 0.6;
    width: 100%;
}

.style-industrial-text {
    margin-left: 80%;
    position: relative;
}

.style-modern-text, .style-classic-text {
    margin-left: 160%;
}

footer {
    
    }
}

@media (max-width: 400px) {
    .style-industrial-text {
        margin-top: 5%;
        margin-left: 80%;
        position: relative;
    }
    
    .style-modern-text, .style-classic-text {
        margin-top: 10%;
        margin-left: 160%;
    }

    .container-footer {
        flex-direction: column;
    }

    footer {
        height: 100vh;
    }
}
